<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if user_signed_in? %>
<div class="header" id="header">
  <li>
   <%= link_to('Home', dashboard_index_path, :method => :get) %>
  </li>
  <li>
   <%= link_to('Profile', profile_path(current_user), :method => :get) %>
  </li>
  <li>
   <%= link_to('Log out', destroy_user_session_path, :method => :delete) %>
  </li>
  <form action= "/posts/new" >
    <input type="submit" value="Create Post">
  </form>
  <div class="field" name="user_name" value = current_user.email></div>
</div>
<% end %>
<%= yield %>

</body>
</html>
